/* PC high resolution*/
@media (min-width: 1280px) {
    .mobile-bar {
        display: none;
    }
    .slider-mobile {
        display: none;
    }
}

/* Tablet & Mobile
@media (max-width: 1160px) {
    .header__navbar-with-btn-download-app {
        display: none;
    }
    .mobile-bar {
        display: block;
    }
} */

/* Tablet & Mobile */
@media (max-width: 1160px) {
    .header__navbar-with-btn-download-app {
        display: none;
    }
    .mobile-bar {
        display: block;
    }
    .header__logo-with-search-wrap {
        flex: 1;
    }
    .header__search-input-wrap {
        flex: 1;
    }
    .header__search-input {
        width: calc(100% - 40px);
    }
    .mobile-menu-modal {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        animation: fadeIn 0.4s;
        display: none;
    }
    .mobile-menu-modal.open {
        display: block;
    }
    .mobile-menu-inner {
        background-color: var(--white-color);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 30%;
        right: 0px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        overflow-y: auto;
    }
    .mobile-menu-close {
        font-size: 2rem;
        padding: 20px;
        float: right;
    }
    .mobile-menu-list, .mobile-menu-sub-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .mobile-menu-list {
        padding: 60px 0 0 40px;
    }
    .mobile-menu-item--active {
        font-weight: 600;
    }
    .mobile-menu-link, .mobile-menu-sub-link {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 16px 0;
        margin: 0;
    }
    .mobile-menu-down-icon {
        font-size: 1.2rem;
    }
    .mobile-menu-sub-list {
        padding-left: 20px;
        display: none;
    }
    .mobile-sub-item-checkbox:checked ~ .mobile-menu-sub-list {
        display: block;
    }
    .slider {
        margin: calc(var(--header-height) + 20px) 15px 0;
    }
    .intro-item-wrapper::-webkit-scrollbar {
        display: none;
    }
    .intro-item-wrapper:hover ~ .intro-detail{
        display: none;
    }
    .intro-item__img {
        width: 15%;
    }
    .intro-item-desc {
        font-size: 1.3rem;
    }
    .main-app {
        padding-top: 40px;
    }
    .main-app__desc-heading {
        font-size: 3rem;
    }
    .main-app__btn-discover {
        margin: 30px 0;
        font-size: 1.4rem;
        width: 185px;
    }
    .main-app__img-wrapper {
        display: flex;
        justify-content: center;
        width: 90%;
    }
    .main-app__img {
        width: 100%;
    }
    .heading-separated h1 {
        font-size: 3rem;
    }
    .voucher__item {
        margin-bottom: 50px;
    }
    .register__item-body {
        margin: 0 30px;
    }
    .register__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .news-row-feature {
        margin: 0;
    }
    .news__feature-type {
        margin-top: 15px;
    }
    .news__feature-title {
        font-size: 1.8rem;
    }
    .news__feature-desc {
        display: none;
    }
    .news-row-wrapper {
        padding: 20px 0 20px;
    }
    .news-row {
        margin: 0 12px 30px 12px;
        gap: 10px;
    }
    .news__title {
        font-size: 1.5rem;
    }
    .download-app-row {
        margin: 0 10px;
    }
    .download-app__body {
        padding: 40px 40px 0px 40px;
    }
    .download-app__body-heading {
        font-size: 2.4rem;
    }
    .download-app__body-step {
        font-size: 1.6rem;
    }
    .download-app__body-step-num {
        font-size: 2rem;
    }
    .footer {
        margin: 30px 0 0;
    }
    .footer-contact-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .footer__contact-item {
        width: unset;
    }
    .footer__contact-item::after {
        display: none;
    }
    .footer__contact-item-link {
        display: inline-flex;
        justify-content: unset;
    }
    .footer__contact-row {
        display: inline-flex;
        gap: 15px;
        margin: 0;
        flex-direction: column;
    }
}

@media (max-width: 740px) {
    .header {
        padding: 0 10px;
    }
    .header__navbar-with-btn-download-app {
        display: none;
    }
    .header__search-input {
        margin-left: 10px;
        width: 100%;
        font-size: 1rem;
    }
    .header__search-icon {
        left: 20px;
    }
    .header__search-history {
        left: 10px;
        width: calc(100% + 50px);
    }
    .header__search-history-popular-item-wrap {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .header__search-history-popular-item-wrap::-webkit-scrollbar {
        display: none;
    }
    .header__search-history-popular-item {
        flex-shrink: 0;
    }
    .slider {
        display: none;
    }
    .slider-mobile {
        margin: calc(var(--header-height) + 20px) 15px 0;
        display: block;
    }
    .slider__nav-icon-wrapper {
        display: none;
    }
    .intro-product {
        height: 75px;
    }
    .intro-item-wrapper {
        max-width: 100%;
        overflow-x: auto;
        margin: 10px 10px;
        height: 100%;
    }
    .intro-item {
        width: unset;
        flex-shrink: 0;
        padding: 0 20px;
    }
    .intro-item::before {
        display: none;
    }
    .download-app__link img {
        width: 60%;
    }
    .download-app__img-wrapper {
        padding: 0;
        justify-content: center;
    }
    .download-app__img {
        max-height: 65%;
        min-height: 65%;
    }
}